
.navIndex {
  background-color: #B30033 ;
  text-decoration: none; /* Me ayuda a que no se vea el link del boton navbar */
  color: white;
}


.body {
  /* Para poder fijar el pie de página con posición absoluta */
  position: relative;
  /* Medida mínima */
  min-height: 100vh;
}

.footer {
  /* Posicionar abajo */
  position: relative;
  bottom: 0;
  /* Ocupar todo el ancho disponible */
  width: 100%;
  min-height: 18vh;
  /* Solo para probar cómo se ve */
  background:#E54217;
}
/* estilo de marcas que maneja la abarrotera en el modulo productos*/
.marcas{
   max-width: 100%;
	height: 100%;  

}
.Paginacion{
  display: flex;
  justify-content: center;
}

.espacio{
 margin: 6px;
}
