@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
/* con esto nos aseguramos de formatear toda la pagina */
/* Guardo este color por que es el que le pondre al sindeBar  "#d22944;"*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
.body {
  margin-left: 80px;
  margin-top: 80px;
  transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);

}
main{
  margin-top: 20px;
  padding: 80px;
}
header {
  width: 100%;
  height: 80px;
  background-color: #f5f5f5f5;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 200;
}
/* Esto es para el tamaño del logo */
.logo {
  width: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_menu {
  width: 170px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(10px);
}
.icon_menu svg {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
}
.menu_side {
  /* con este tambien lo que podemos hacer es controlar que aparezcan los mensaje y que no aparezcan */
  width: 80px; /* con este controlo el ancho del la barra lateral */
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
  z-index: 300;
  overflow: hidden;
  overflow-y: scroll;
  border-right: 10px solid black;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
/*Ocultar scroll para chrome, safari y opera*/
.menu_side::-webkit-scrollbar {
  display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu_side {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.name_page {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
/* con esta parte se controla el tamaño de icono del logo*/
.name_page img {
  width: 25px;
  margin-right: 20px;
}
.option_menu {
  padding: 20px 30px;
  position: absolute;
  top: 80px;
}
.option_menu a {
  color: #ffffffb2;
  cursor: default;
  display: block;
  position: relative;
  transition: color 300ms;
}
.option_menu a:hover {
  color: #d22944; /* color de efecto al pasar el cursor */
}
.option_menu .option {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  position: relative;
}
.option_menu .option svg {
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.option_menu .option h4 {
  font-weight: 300;
  cursor: pointer;
}
a.selected {
  color: #fff;
}

.selected:before {
  content: "";
  width: 3px;
  height: 80%;
  background: white;
  position: absolute;
  top: 10%;
  left: -30px;
}
/* Esta parte es para controlar lo que esta al lado del navBar par que sea responsivo */
/* .container {
  margin-top: 80px; /* controlamos la distancia ente la barra superior y el texto que vendra despues */
  /* width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  transform: translateX(10px); /* Esta es la parte que se encarda de separar el contenido de la barra lateral izquierda */

  /* margin-left: 80px;
  margin-top: 80px;
  transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
} */ 
